html, body {
  background-color: #EDEDEF;
  height: 100%;
  margin: 0px;
  padding: 0px; }

#container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.cards {
  width: 270px;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  z-index: auto;
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: #EDEDEF; }

.thetitle {
  order: 0;
  max-height: 75px;
  border-bottom: solid white 1px; }

.ice {
  order: 1;
  border-bottom: solid white 1px; }

.hyphonix {
  order: 2;
  border-bottom: solid white 1px; }

.tsa {
  order: 3;
  border-bottom: solid white 1px; }

.destiny {
  order: 4;
  border-bottom: solid white 1px; }

.random {
  order: 5; }

.card {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 250px;
  border-color: #989898;
  font-size: 15px;
  font-family: 'Shrikhand', cursive; }

.pic {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.youtube {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40x; }

.close {
  height: 30px;
  width: 30px; }

.active {
  cursor: pointer;
  border: solid 3px #FF0000;
  animation: pulse 3s linear infinite; }

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px red; }
  25% {
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 20px 20px rgba(255, 0, 0, 0); }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0); } }

.stream {
  width: 100%;
  height: 100%;
  border-color: black;
  border-radius: 3px;
  background-color: black; }

.video {
  width: 100%; }

.counter {
  text-align: center;
  font-size: 25px;
  margin-top: 25%; }
